name: ci
on: push
jobs:
  my-job:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@main
      - name: setup
        run: make setup
      - name: test
        run: make test
      - name: lint
        run: make lint  
